*
{
    /* font-family: "Della Respira", serif; */
    font-family: "Sriracha", "Ma Shan Zheng";
    font-size: 20px;
    margin: 0;
    padding: 0;
}
body
{
    background-color: azure;
}
.readme
{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.readme > div
{
    width: 90%;
    margin: 20px 0;
    /* background-color: aqua; */
}
.content-text, .content-pic 
{
    position: relative;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.Title
{
    font-size: 56px;
}
p
{
    width: 80%;
    margin: 2px 0;
}
img
{
    margin: 5px;
    width: 50%;
}

/*ENDing begins*/

.endbar
{
    background: linear-gradient(azure, #2a2e2e);
    height: 400px;
}
.CopyrightDeclare
{
    
    background-color: #2a2e2e;
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.CopyrightDeclare p
{
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 16px;
    margin: 2px;
    padding: 0;
}

/*it all ends*/