nav {
    border-bottom: 1px solid black;
  }
  
  .crumbs ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .crumb {
    display: inline-block;
  }
  
  .crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
  }


.lyrics {
    opacity: 1;
    background-color: #f3e8a5b7;
    width: 80%;
    border-radius: 25px;
    margin: auto;
    border: 6px #555555 dotted;

    padding-bottom: 6px;
    padding-left: 10px;
}

.lyrics p {
    text-align: center;
}

button {
    background-color: #555555;
    color: #ffffff;
    font-size: 16px;
    padding: 8px 13px;

}
button:hover {
    background-color: aqua;
}
button:active {
    background-color: #ffffff;
}

.list li {
    list-style: upper-alpha;
}

.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 15px;
    box-sizing: border-box;
}


.clearfix {
    clear: both;
}
